:root{
    --pink: #ff3d64;
}
/* .sideBar,.allUsers{
    height: 100%;
} */

.profileParent{
    /* display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100vw;;
    height: 100vh */

}
.modelBackground{
   
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.editBox{
    position: relative;
}
.overLayModal{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0, 0, 0,0.6);
    overflow: hidden;
    z-index: 1000;
}
.modelContainer {
    width: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 25px;
    z-index: 10000;
  }
  .myProfileImg-container{
    height: 120px;
    width: 120px;
    /* border-radius: 50%; */
    /* overflow: hidden; */
    
  }
  .myProfileImg-container img{
    /* width:100%;
    top:0; */
    width: 100px;
    height: 100px;
    /* object-fit: cover; */
    border-radius: 50%;
}
.myPersonal{
    display: flex;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    /* justify-content: space-between; */
    width: fit-content;
  
}
.myActivity{
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    cursor: pointer;
}
.bioEdit{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.editButton{
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    cursor: pointer;
    background-color:#1976d2 ;
    color: white;
    border-radius: 5px;
    border: none;
}
.bioActivity{
    display: flex;
    flex-direction: column;
    width:fit-content;
}
.userFullName{
    font-size: 20px;
    font-weight: bold;
}
.userRoute{
    cursor: pointer;
    margin:10px;
}
.userPart{
    display: flex;
    
}
.FollowerModelContainer {
    width: 300px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    z-index: 10000;
  }
  .editLogout{
    display: flex;
    cursor: pointer;
    margin-left: 40px;
  }
  .logout{
    margin-left: 10px;
  }
  .bi-box-arrow-right{
        font-size: x-large;
  }
  .profilePageContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    /* height: 100%;
    overflow-y: auto; */
  }
  