
.modelBackground{
   
   height: 100vh;
  
   width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.editBox{
    position: relative;
}
.overLayModal{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0, 0, 0,0.6);
}
.modelContainer {
    width: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  .userProfileImgContainer{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px ;
  }
  .userProfileImgContainer img{
    width:100%;
    top:0;
}
.myPersonal{
    display: flex;
    border: 1px solid black;
    padding: 20px;
}
.myActivity{
    display: flex;
    justify-content: space-between;
}
.bioEdit{
    display: flex;
    justify-content: space-between;
}
.editButton{
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border-radius: 5px;
    border: none;
}
.bioActivity{
    display: flex;
    flex-direction: column;
    width:300px;
}
.userFullName{
    font-size: 20px;
    font-weight: bold;
}
