.postCard{
    width: 500px;
    padding:20px;
    margin:20px;
    background-color: white;
    border-radius: 5px;

}
.opDetails{
    display: flex;
}
.OpAndEdit{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.opPersonal{
    display: flex;
    position: relative;
}
.postCardOptions{
    display: flex;
    justify-content: space-between;
}
.fullName{
    font-weight: bold;
}
.userName{
    font-weight: lighter;
}
.userPic-container{
    height: 70px;
    width: 70px;
}
.userPic-container img{
    width: 50px;
    height: 50px;
    /* object-fit: cover; */
    border-radius: 50%;
}
.LikeContainer{
    display: flex;
    justify-content: space-between;
}
.likeCount{
    margin-left: 3px;
}