.HomePage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeComponent{
    margin:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}
.postText{
   margin:20px;
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    outline: 0.1rem solid transparent;
}
.postComp{
    border: 1px solid black;
    width:500px;
    display: flex;
    position: relative;
}
.profileImgContainer{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.profileImgContainer img{
    width:100%;
    top:0;
}
.submitContainer{
    align-self: flex-end;
}
.postButton{
    bottom: 0;
    top:0;
}
.individualPost{
    width:600px;
    margin:10px;
    display: flex;
    justify-content: center;
}