.HomePage{
   /* display: grid;
   grid-template-columns: 1fr 3fr 1fr; */
    
}
.sortButtons{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.homeComponent{
    margin:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}
.postText{
    margin:10px;
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    outline: 0.1rem solid transparent;
}
.postComp{
    /* border: 1px solid black; */
    width:500px;
    display: flex;
    /* position: relative; */
}
.profileImgContainer{
    height: 70px;
    width: 70px;
    /* border-radius: 50%; */
}
.profileImgContainer img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.submitContainer{
    align-self: flex-end;
}
.postButton{
    bottom: 0;
    top:0;
    margin:10px;
    padding: 10px;
    background-color: #1976d2;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.individualPost{
    width:600px;
    margin:10px;
    display: flex;
    justify-content: center;
}
.sortBy{
    padding: 10px;
    background-color: #1976d2;
    color: white;
    border: none;
    font-weight: bold;
}