.page-section{
    display: grid; 
    grid-template-columns: 1fr 3fr 1fr;
   position: relative;
   margin-top: 10px;
  /* /* position: relative;  */
  height: -webkit-fill-available;
}

.side-bar{
    position: relative;
    /* margin:20px; */
    /* background-color: aqua; */
}
.user-list-container{
    /* padding: 20px 10px; */
    position: relative;
    /* top: 0px;
    left:0;
    z-index: 3; */
    /* padding: 30px; */
}
.bottom-nav-bar{
    display: none;
}
@media screen and (max-width: 550px) {
    .user-list-container{
        display: none;
    }
    .side-bar{
        display: none;
    }
    .bottom-nav-bar{
        display: block;
        position: fixed;
        bottom:0;
        left: 0;
        right: 0;
        margin:0px 20px 0px 20px;
        background-color: #f0f2f5;
        padding: 10px;
    }
    .icon-container{
        display: flex;
        justify-content: space-between;
    }
    
}