.overLayModal{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0, 0, 0,0.6);
    overflow: hidden;
    z-index: 1000;
}
.EditModelContainer {
    width: 400px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 25px;
    z-index: 10000;
  }
  .content{
    width:300px;
    border: none;
    resize: none;
    margin: 0px;
    outline: 0.1rem solid transparent; 
  }
  .contentArea{
    display: flex;
    justify-content: center;
    margin:10px;
  }
  .updateButton{
    padding: 10px;
    border: none;
    background-color: #1976d2;
    color: white;
    font-weight: bold;
    margin-right:20px;
  }
  .updateAndClose{
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .EditModelContainer h3{
    margin:10px;
  }