.profileImgContainer{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.profileImgContainer img{
    width:100%;
    top:0;
}
.image-to-change{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
}
.input-image-upload input[type="file"]
{
    display: none;
}
.file-upload{
    display: none;
}
.bi-camera-fill{
    position: absolute;
    margin-top:30px;
    margin-left:-10px;
    /* top: 250px;
    left:585px;
    bottom:0; */
}
.overLayModal{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0, 0, 0,0.6);
    overflow: hidden;
    z-index: 1000;
    
}
.modelContainer {
    width: 400px;
    padding: 10px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 25px;
    z-index: 10000;
  }
  .change-profile-pic
  {
    display: flex;
  }
  .input-image-upload{
    margin-left:40px;
  }
.Bio,.profileImg,.websiteLink{
    display: flex;
    justify-content: space-between;
    margin:10px;
}
