.menuContainer{
    position: absolute;
    background-color: white;
    /* padding: 10px; */
    box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.3);
    cursor: pointer;
    font-size: medium;
    border-radius: 5px;
}
.option{
   padding: 15px;
   margin: 5px 0px;
   
}
.option:hover{
    background-color:rgba(0, 0, 0,0.2);;
}