.overLayModal{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0, 0, 0,0.6);
    overflow: hidden;
    z-index: 1000;
}

.FollowingModelContainer {
    width: 300px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
  }