.user-profileImg-container{
    height: 120px;
    width: 120px;
}
.user-profileImg-container img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.userInfo{
    display: flex;
    border: 1px solid black;
    width:400px;
    padding:10px;
}
.IndividualProfile{
    /* display: flex;
    justify-content: center; */
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
}
.userPersonal{
    display: flex;
    flex-direction: column;
    width:300px;
    /* width: 100%; */
}
.activityDetails{
    margin-top: 10px;
    display: flex;
    width:100%;
    justify-content: space-between;
    font-weight: bold;
    cursor: pointer;
}
.personalFollow{
    display: flex;
}
.followButton{
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border-radius: 5px;
    border: none;
}
.profilePage{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
.userBio{
    margin: 10px;
}