.navigationBar{
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.4);
    padding: 10px;
    /* display: flex; */
    width: 100%;
    justify-content: space-between;
    position: fixed;
    height: 50px;
   
}
.titleText{
    font-size: 20px;
    font-weight: bold;
}
.userImageContainer{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.userImageContainer img{
    width:100%;
    top:0;
}